{% extends "main/mainpage.html" %}
{% block name %}
    Подробно о пользователе
{% endblock  %}
{% block content %}
    <div class="container mx-auto" id="icon-grid">
        <div class="row flex">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Пользователь</h5>
                        <p class="card-text">Login: {{user.username}}</p>
                        <p class="card-text">Имя: {{user.second_name|safe}}</p>
                        <p class="card-text">Фамилия:{{user.first_name|safe}}</p>
                        <p class="card-text">Почта: {{user.email|safe}}</p>
                        <p class="card-text">День рождения:{{user.profile.birth_day|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
